.post-rater-container {
    /* border: 2px solid #00537d; */
    margin-bottom: 10px;
    width: 100%;
    margin: auto;
    background: #00537d;
}

.post-rater-button-container {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
}

.post-rater-button {
    color: white;
    background-color: #00537d;
    max-width: 50px;
    max-height: 50px;
    font-size: 40px;
    border: none;
    outline: none;
    padding: 0;
}

.post-rater-submit-button {
    border: 1px solid white;
    background-color: #00537d;
    color: white;
    width: 50%;
    font-size: 16px;
    margin-bottom: 10px;
}