.profile-view-hive-container {
    /* background: #00537d;
    color: white; */
    width: 100%;
    margin-bottom: 20px;
}

.profile-view-hive-label {
    background: #00537d;
    color: white;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
}


.profile-view-hive-label:hover {
    cursor: pointer;
}

.visible {
    border-bottom: 2px dotted black;
}