.quickview-hive {
    /* background: linear-gradient(#9903b1, #050c5f); */
    background: white;
    color: black;
    margin: 1em;
    position: relative;
    border-radius: 5px;
    border: 2px solid black;
}

.quickview-hive-link {
    text-decoration: none;
    color: black;
}

.quickview-hive-icon-container {
    border-bottom: 2px solid black;
    display: flex;
    color: black;
    background: linear-gradient(#9903b1, #050c5f);
}

.quickview-hive-icon {
    font-size: 50px;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    background: -webkit-linear-gradient(orange, #f3086a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quickview-hive-title {
    background: -webkit-linear-gradient(orange, #f3086a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier', 'sans-serif';
    font-weight: 500;
}

.quickview-hive-mission {
    font-family: 'Courier';
    font-size: 14px;
}

.quickview-hive-info-container {
    display: flex;
    justify-content: center;
    border-top: 2px dotted black;
}

.quickview-hive-info {
    margin: .5em;
    font-family: 'Courier', 'sans-serif';
}

.member-count {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 23px;
}

.white {
    color: #fe6c01;
}