.quickview-hive {
    /* background: linear-gradient(#9903b1, #050c5f); */
    background: #5c7cc7;
    color: black;
    margin: 1em;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.quickview-hive-link {
    text-decoration: none;
    color: black;
}

.quickview-hive-icon-container {
    border-bottom: 2px solid white;
    display: flex;
    color: black;
    background: #00298a;
    /* background: linear-gradient(#014dfe, #01096d); */
}

.quickview-hive-icon {
    font-size: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    /* background: -webkit-linear-gradient(orange, #f3086a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.quickview-hive-title {
    /* background: -webkit-linear-gradient(orange, #f3086a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.quickview-hive-mission {
    font-size: 14px;
}

.quickview-hive-info-container {
    display: flex;
    justify-content: center;
    border-top: 2px dotted black;
}

.quickview-hive-info {
    margin: .5em;
}

.member-count {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 23px;
}

.white {
    color: white;
}