.quickview-hive {
    background: linear-gradient(#9903b1, #050c5f);
    margin: 1em;
    position: relative;
}

.quickview-hive-link {
    text-decoration: none;
    color: orange;
}

.quickview-hive-icon-container {
    border-bottom: 1px solid white;
    display: flex;
}

.quickview-hive-icon {
    font-size: 50px;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    background: -webkit-linear-gradient(orange, #f3086a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quickview-hive-title {
    background: -webkit-linear-gradient(yellow, orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quickview-hive-mission {
    font-style: italic;
    color: white;
}

.quickview-hive-info-container {
    display: flex;
    justify-content: center;
    border-top: 2px dotted white;
}

.quickview-hive-info {
    margin: .5em;
}

.member-count {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 23px;
}

.white {
    color: white;
}