.profileHome-page,
.messages-page-container {
    width: 100%;
}

.profilehome-content-box {
    width: 95%;
    margin: auto;
}

.profilehome-page-notifications-container {
    display: flex;
    flex-direction: column;
}

.conversations-container {
    display: flex;
    flex-direction: column;
}

.profileHome-control-box {
    display: flex;
}

.profileHome-control {
    flex: 1;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: #659cb7;
    border: none;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

.middle {
    border-left: 2px solid #00537d;
    border-right: 2px solid #00537d;
}

.profileHome-userInfo-container {
    width: 100%;
}

.profileHome-userInfo-name {
    font-size: 25px;
    text-align: left;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #00537d;
}

.profileHome-link-container {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.profileHome-link {
    text-decoration: none;
    color: white;
}

.profileHome-link-content {
    background: #00537d;
    width: 20%;
    height: 40px;
    line-height: 40px;
}

.profileHome-pageTop-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #00537d;
    font-size: 25px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

.messages-page-button-link {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}