.viewpost {
    width: 100%;
}

.viewpost-hive-link {
    text-decoration: none;
    color: #00537d;
}

.viewpost-hive-link:hover {
    text-decoration: underline;
}

.viewpost-date {
    font-size: 12px;
}

.viewpost-body,
.viewpost-comment-body {
    white-space: pre-line;
    text-align: left;
    padding: 1em;
    margin-top:0;
}

.viewpost-comment-container {
    list-style: none;
    padding: 0;
    text-align: left;
}

.viewpost-more-button {
    margin-bottom: 15px;
    background-color: #00537d;
    color: white;
    border: none;
    font-size: 20px;
    width: 50%;
}

.viewpost-author {
    color: #00537d;
}