.navmenu {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    color: black;
}

.navmenu-button {
    height: 100%;
    border-left: 1px solid #fe6c01;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier', 'sans-serif';
    font-size: 60px;
    color: #fe6c01;
}

.navmenu-button:hover,
.navmenu-button:focus {
    cursor: pointer;
}

.navmenu-list {
    background-color: #fe6c01;
    border-left: 2px solid black;
    list-style: none;
    position: absolute;
    margin-top: 2px;
    left: -50%;
    width: 148%;
    padding: 0;
    z-index: 2;
}

.navmenu-item {
    border-bottom: 2px solid black;
    line-height: 50px;
    font-family: 'Courier', 'sans-serif';
}

.navmenu-item:hover {
    background-color: black;
    cursor: pointer;
}

.navmenu-link {
    text-decoration: none;
    color: black;
}