.navmenu {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    color: yellow;
}

.navmenu-button {
    height: 100%;
    border-left: 1px solid yellow;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navmenu-button:hover,
.navmenu-button:focus {
    cursor: pointer;
}

.navmenu-list {
    background-color: #1f1e1e;
    border-left: 1px solid yellow;
    list-style: none;
    position: absolute;
    margin-top: 2px;
    left: -50%;
    width: 148%;
    padding: 0;
    z-index: 2;
}

.navmenu-item {
    border-bottom: 1px solid yellow;
    line-height: 50px;
}

.navmenu-item:hover {
    background-color: black;
    cursor: pointer;
}

.navmenu-link {
    text-decoration: none;
    color: yellow;
}