.navbar {
  position: fixed;
  z-index: 2;
  display: flex;
  top: 0;
  width: 100%;
  height: 85px;
  background: linear-gradient(#9903b1, #050c5f);
  /* background:#fe6c01; */
  color: black;
}

.title {
  background: -webkit-linear-gradient(orange, #f3086a);
    /* background: -webkit-linear-gradient(#fe6c01, black); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-weight: normal;
  margin: 0px;
}

.logo-box {
  width: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.logo-link {
  text-decoration: none;
}

.s1 {
  -webkit-text-fill-color: #f5f500;
}

.s2 {
  -webkit-text-fill-color: #c3c300;
}

.s3 {
  -webkit-text-fill-color: #8e8e00;
}

.s4{
  -webkit-text-fill-color: #bdbd5c;
}

.s5 {
  -webkit-text-fill-color: #8e8e00;
}

.s6 {
  -webkit-text-fill-color: #c3c300;
}

.s7 {
  -webkit-text-fill-color: yellow;
}