.comment-rater-container {
    border: none;
    background-color: #00537d;
    margin: auto;
    display:flex;
    flex-direction: column;
}

.comment-rater-button-container {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
}

.comment-rater-button {
    color: white;
    background: none;
    font-size: 40px;
    border: none;
    outline: none;
    padding: 0;
    flex: 1;
}

.comment-rater-submit-button {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}