.form-input-box {
    font-size: 16px;
    background-color: #1f1e1e;
    border: 2px solid yellow;
    color: white;
    width: 90%;
}

.createPost-button {
    background-color: #1f1e1e;
    color: yellow;
    border: 2px solid yellow;
    margin-top: 15px;
    font-size: 20px;
}

.createComment-display-button {
    background-color: #1f1e1e;
    color: yellow;
    border: 1px solid yellow;
    font-size: 16px;
    height: 30px;
    width: 75%;
    margin-top: 20px;    
}

.createComment-cancel {
    display: flex;
    font-size: 30px;
    margin-left: 16px;
    margin-bottom: 5px;
    background-color: #1f1e1e;
    color: yellow;
    border: 1px solid yellow;
}

.createComment-button {
    background-color: #1f1e1e;
    color: yellow;
    border: 1px solid yellow;
    width: 50%;
    height: 40px;
}

.commentReply-display-button {
    background-color: #1f1e1e;
    color: yellow;
    border-top: none;
    border-bottom: 1px solid yellow;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
    font-size: 16px;
    height: 45px;
}